In [26]:
from util import get_packets, get_trace
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
PROCESS = 20
RES = 200
IPS = [222, 116]
MASTER = 222
TARGET_IP = 116
PACKETS = "../data/42/morteza/train/packets"
CUDAALLOCS = "../data/42/morteza/train/cuda_allocations"

In [31]:
packets = get_packets(PACKETS)
allocs = get_trace(CUDAALLOCS, sep='\t')

In [32]:
packets['size'].max()

60.869140625

In [33]:
packets = packets[(packets["src_ip"] == MASTER) & (packets["dest_ip"] == TARGET_IP)]

In [35]:
packets[(packets["src_port"] == 58889) & (packets["dest_port"] == 57160)]

             timestamp      size  src_ip  dest_ip  src_port  dest_port  dir
85        6.214514e+06  0.064453     222      116     58889      57160    0
47        6.214514e+06  0.064453     222      116     58889      57160    0
200       6.214514e+06  0.064453     222      116     58889      57160    0
100       6.214514e+06  0.064453     222      116     58889      57160    0
97        6.214514e+06  0.064453     222      116     58889      57160    0
...                ...       ...     ...      ...       ...        ...  ...
30749339  6.234195e+06  0.064453     222      116     58889      57160    0
30751096  6.234195e+06  0.064453     222      116     58889      57160    0
30751987  6.234195e+06  0.064453     222      116     58889      57160    0
30751207  6.234201e+06  0.064453     222      116     58889      57160    0
30750923  6.234201e+06  0.064453     222      116     58889      57160    0

[2416814 rows x 7 columns]

In [34]:
np.unique(packets[["src_port", "dest_port"]].values, axis=0)

array([[34276,    22],
       [40862, 54243],
       [44453, 58816],
       [54820, 49093],
       [58889, 57160]])

In [13]:
packets = packets[(packets["src_port"] != 443) & (packets["dest_port"] != 443)]

In [15]:
packets.shape

(11128082, 7)

In [8]:
allocs

             timestamp       size
0             0.000000    0.25000
1        947263.163099    1.06250
2        947263.163614  142.34375
3        947263.164292  126.43750
4        947263.165047  113.81250
...                ...        ...
8294259  987036.690186   81.12500
8294260  987036.690698  120.18750
8294261  987036.691480  117.93750
8294262  987036.691982  116.68750
8294263  987036.692729  115.43750

[8294264 rows x 2 columns]

In [10]:
allocs["timestamp"]

0          5.435720e+06
1          5.435720e+06
2          5.435720e+06
3          5.435720e+06
4          5.435720e+06
               ...
1580886    5.448553e+06
1580887    5.448553e+06
1580888    5.448553e+06
1580889    5.448553e+06
1580890    5.448553e+06
Name: timestamp, Length: 1580891, dtype: float64